
html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}

body {
  
font-family: 'Open Sans', sans-serif;
  background-image: url('twilliams7.github.io/dryvephotography/img/background.jpg');
  background-position: center top;
  background-size: cover;
  margin: 0;
}

.page-title {
  text-align: center;
  font-weight: 150;
}

.page-description {
  border: 1px solid #000;
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  margin: 2px;
}

.gallery-item .thumbnail {

}

/* footer */

nav {
  background-color: #FFF;
}

nav li {
  margin: 0;
  padding: 0 10px;
}

nav ul {
  display: inline;
}

.contact-btn {

}

.contact-btn a {
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #204156;

}

.contact-btn a:active {
  position: relative;
  bottom: 2px;
}

nav a {
  height: 60px;
  line-height: 60px;
  color: #204156;
  text-decoration: none;
}

